.background{
    margin: 100px;
    width: auto;
    height: 300px;
    background:url(./80.jpg) center / auto no-repeat,linear-gradient(120deg, #7a2f2f, #534588);
    
}
.background-2{
    margin: 100px;
    width: auto;
    height: 300px;
    background:url(./82.jpg) center / auto repeat,linear-gradient(220deg, #2f7a2f, #abb614);
    background-attachment:fixed;
    overflow: auto;
}
